<div class="footer-container">
    <footer class="row row-cols-5 py-5 my-5 flex-wrap">

        <div class="col">
            <h5>About us</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Courses</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Mission</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Approach</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Efficacy</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Team</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Research</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Incubator</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Careers</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Brand guidelines</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Press</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Investors</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Contact us</a></li>
            </ul>
        </div>

        <div class="col">
            <h5>Products</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Duolingo</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Duolingo for Schools</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Duolingo English Test</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Duolingo ABC</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Duolingo Evenets</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Podcast</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Stories</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Dictionary</a></li>
            </ul>
        </div>

        <div class="col">
            <h5>Apps</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Duolingo for Android</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Duolingo for iOS</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Duolingo ABC (iOS)</a></li>

            </ul>
        </div>

        <div class="col">
            <h5>Help and support</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Discussion</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Troubleshooting</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Duolingo FAQs</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Schools FAQs</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Duolingo English Test FAQs</a>
                </li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Status</a></li>
            </ul>
        </div>

        <div class="col">
            <h5>Privacy and terms</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Community guidelines</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Terms</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Privacy</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Respecting your "do not<br>sell my
                        personal<br>information " rights</a></li>
            </ul>
            <p> </p>
            <h5>Social</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Blog</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Instagram</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Facebook</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Twitter</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">YouTube</a></li>
            </ul>
        </div>

    </footer>

    <footer class="row row-3 border-top">
        <div margin="24px">
            <p>
                Site language:
            </p>
            <ul class="nav">
                <li class="nav-item"><a class="nav-link px-2 text-muted" href="#">‏العربية</a></li>
                <li class="nav-item"><a class="nav-link px-2 text-muted" href="#">Deutsch</a></li>
                <li class="nav-item"><a class="nav-link px-2 text-muted" href="#">English</a></li>
                <li class="nav-item"><a class="nav-link px-2 text-muted" href="#">Français</a></li>
                <li class="nav-item"><a class="nav-link px-2 text-muted" href="#">Magyar</a></li>
                <li class="nav-item"><a class="nav-link px-2 text-muted" href="#">Italiano</a></li>
                <li class="nav-item"><a class="nav-link px-2 text-muted" href="#">한국어</a></li>
                <li class="nav-item"><a class="nav-link px-2 text-muted" href="#">Polski</a></li>
                <li class="nav-item"><a class="nav-link px-2 text-muted" href="#">Română</a></li>
                <li class="nav-item"><a class="nav-link px-2 text-muted" href="#">ภาษาไทย</a></li>
                <li class="nav-item"><a class="nav-link px-2 text-muted" href="#">Українською</a></li>
                <li class="nav-item"><a class="nav-link px-2 text-muted" href="#">中文</a></li>
                <li class="nav-item"><a class="nav-link px-2 text-muted" href="#">Čeština</a></li>
                <li class="nav-item"><a class="nav-link px-2 text-muted" href="#">Ελληνικά</a></li>
                <li class="nav-item"><a class="nav-link px-2 text-muted" href="#">Español</a></li>
                <li class="nav-item"><a class="nav-link px-2 text-muted" href="#">हिंदी</a></li>
                <li class="nav-item"><a class="nav-link px-2 text-muted" href="#">Bahasa Indonesia</a></li>
                <li class="nav-item"><a class="nav-link px-2 text-muted" href="#">日本語</a></li>
                <li class="nav-item"><a class="nav-link px-2 text-muted" href="#">Nederlands</a></li>
                <li class="nav-item"><a class="nav-link px-2 text-muted" href="#">Português</a></li>
                <li class="nav-item"><a class="nav-link px-2 text-muted" href="#">Русский</a></li>
                <li class="nav-item"><a class="nav-link px-2 text-muted" href="#">Türkçe</a></li>
                <li class="nav-item"><a class="nav-link px-2 text-muted" href="#">Tiếng Việt</a></li>
            </ul>
        </div>
    </footer>
</div>