<div class="footer-container">
    <footer class="row row-cols-5 py-5 my-5 flex-wrap">

        <div class="col">
            <h5>About us</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Courses</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Mission</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Approach</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Efficacy</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Team</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Research</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Incubator</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Careers</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Brand guidelines</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Press</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Investors</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Contact us</a></li>
            </ul>
        </div>

        <div class="col">
            <h5>Products</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Duolingo</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Duolingo for Schools</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Duolingo English Test</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Duolingo ABC</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Duolingo Evenets</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Podcast</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Stories</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Dictionary</a></li>
            </ul>
        </div>

        <div class="col">
            <h5>Apps</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Duolingo for Android</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Duolingo for iOS</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Duolingo ABC (iOS)</a></li>

            </ul>
        </div>

        <div class="col">
            <h5>Help and support</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
            </ul>
        </div>

        <div class="col">
            <h5>Privacy and terms</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
            </ul>
            <p> </p>
            <h5>Social</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
            </ul>
        </div>


    </footer>
    <h5 class="flex-wrap border-top">Site language:</h5>
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
        <ul class="nav justify-content-center">
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
        </ul>
      </footer>
</div>

