<div class="container-fluid">
  <div class="scrollmenu">
    <a href="#"><img class="flag_img" src="./assets/es_flag.png"><span >Spanish</span></a>
    <a href="#"><img class="flag_img" src="./assets/fr_flag.png"><span >French</span></a>
    <a href="#"><img class="flag_img" src="./assets/ge_flag.png"><span >German</span></a>
    <a href="#"><span >Italian</span></a>
    <a href="#"><span >Portuguese</span></a>
    <a href="#"><span >Dutch</span></a>
    <a href="#"><span >Japanese</span></a>
    <a href="#"><span >Arabic</span></a>
    <a href="#"><span >Czech</span></a>
    <a href="#"><span >Welsh</span></a>
    <a href="#"><span >Danish</span></a>
    <a href="#"><span >Greek</span></a>
    <a href="#"><span >Esperanto</span></a>
    <a href="#"><span >Finnish</span></a>
    <a href="#"><span >Irish</span></a>
    <a href="#"><span >Scottish Gaelic</span></a>
    <a href="#"><span >Hebrew</span></a>
    <a href="#"><span >Hindi</span></a>
    <a href="#"><span >Hungarian</span></a>
    <a href="#"><span >High Valyrian</span></a>
    <a href="#"><span >Hawaiian</span></a>
    <a href="#"><span >Indonesian</span></a>
    <a href="#"><span >Korean</span></a>
    <a href="#"><span >Latin</span></a>
    <a href="#"><span >Norwegian (Bokmål)</span></a>
    <a href="#"><span >Navajo</span></a>
    <a href="#"><span >Polish</span></a>
    <a href="#"><span >Romanian</span></a>
    <a href="#"><span >Russian</span></a>
    <a href="#"><span >Swedish</span></a>
    <a href="#"><span >Swahili</span></a>
    <a href="#"><span >Klingon</span></a>
    <a href="#"><span >Turkish</span></a>
    <a href="#"><span >Ukrainian</span></a>
    <a href="#"><span >Vietnamese</span></a>
    <a href="#"><span >Yiddish</span></a>
    <a href="#"><span >Chinese</span></a>

  </div>
</div>