
<nav class="navbar navbar-light" style="background-color: #235390;">
<div class="container-fluid">
  
  <div class="scrollmenu">
    <a href="#"><span class = "item"><img class="flag_img" src="./assets/es_flag.png">Spanish</span></a>
    <a href="#"><span class = "item"><img class="flag_img" src="./assets/fr_flag.png">French</span></a>
    <a href="#"><span class = "item"><img class="flag_img" src="./assets/ge_flag.png">German</span></a>
    <a href="#"><span class = "item"><img class="flag_img" src="./assets/it_flag.png">Italian</span></a>
    <a href="#"><span class = "item"><img class="flag_img" src="./assets/pt_flag.png">Portuguese</span></a>
    <a href="#"><span class = "item"><img class="flag_img" src="./assets/nl_flag.png">Dutch</span></a>
    <a href="#"><span class = "item"><img class="flag_img" src="./assets/jp_flag.png">Japanese</span></a>
    <a href="#"><span class = "item"><img class="flag_img" src="./assets/sa_flag.png">Arabic</span></a>
    <a href="#"><span class = "item"><img class="flag_img" src="./assets/cz_flag.png">Czech</span></a>
    <a href="#"><span class = "item"><img class="flag_img" src="./assets/wl_flag.png">Welsh</span></a>
    <a href="#"><span class = "item"><img class="flag_img" src="./assets/dk_flag.png">Danish</span></a>
    <a href="#"><span class = "item"><img class="flag_img" src="./assets/gr_flag.png">Greek</span></a>
    <a href="#"><span class = "item"><img class="flag_img" src="./assets/esperanto_flag.png">Esperanto</span></a>
    <a href="#"><span class = "item"><img class="flag_img" src="./assets/fi_flag.png">Finnish</span></a>
    <a href="#"><span class = "item"><img class="flag_img" src="./assets/ie_flag.png">Irish</span></a>
    <a href="#"><span class = "item"><img class="flag_img" src="./assets/sc_flag.png">Scottish Gaelic</span></a>
    <a href="#"><span class = "item">Hebrew</span></a>
    <a href="#"><span class = "item">Hindi</span></a>
    <a href="#"><span class = "item">Hungarian</span></a>
    <a href="#"><span class = "item">High Valyrian</span></a>
    <a href="#"><span class = "item">Hawaiian</span></a>
    <a href="#"><span class = "item">Indonesian</span></a>
    <a href="#"><span class = "item">Korean</span></a>
    <a href="#"><span class = "item">Latin</span></a>
    <a href="#"><span class = "item">Norwegian (Bokmål)</span></a>
    <a href="#"><span class = "item">Navajo</span></a>
    <a href="#"><span class = "item">Polish</span></a>
    <a href="#"><span class = "item">Romanian</span></a>
    <a href="#"><span class = "item">Russian</span></a>
    <a href="#"><span class = "item">Swedish</span></a>
    <a href="#"><span class = "item">Swahili</span></a>
    <a href="#"><span class = "item">Klingon</span></a>
    <a href="#"><span class = "item">Turkish</span></a>
    <a href="#"><span class = "item">Ukrainian</span></a>
    <a href="#"><span class = "item">Vietnamese</span></a>
    <a href="#"><span class = "item">Yiddish</span></a>
    <a href="#"><span class = "item">Chinese</span></a>

    
  </div>
  

</div>
</nav>