.container-fluid{
  max-width: 1080px; 
  margin: 0 auto !important; 
  float: none !important; 
}

div.scrollmenu {
    background-color: #235390;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    justify-content: center;
  }
  
  div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }

  .flag_img{
    margin: 10px;
    border-radius:5px;
    width: 36px;
    height: 28px;
  }
