<!-- As a link -->

<nav class="navbar navbar-light fixed-top" style="background-color: #235390;">
  <div class="container-fluid">
    <a href="#">
      <img src="./assets/duolingo-logo-navbar.svg" alt="Duolingo" width="153.65">
    </a>


    <div class="dropdown">
      <button class="dropdown-toggle btn-st-lang" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
        aria-expanded="false">
        SITE LANGUAGE: ENGLISH
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#">‏العربية</a></li>
        <li><a class="dropdown-item" href="#">Deutsch</a></li>
        <li><a class="dropdown-item" href="#">English</a></li>
        <li><a class="dropdown-item" href="#">Français</a></li>
        <li><a class="dropdown-item" href="#">Magyar</a></li>
        <li><a class="dropdown-item" href="#">Italiano</a></li>
        <li><a class="dropdown-item" href="#">한국어</a></li>
        <li><a class="dropdown-item" href="#">Polski</a></li>
        <li><a class="dropdown-item" href="#">Română</a></li>
        <li><a class="dropdown-item" href="#">ภาษาไทย</a></li>
        <li><a class="dropdown-item" href="#">Українською</a></li>
        <li><a class="dropdown-item" href="#">中文</a></li>
        <li><a class="dropdown-item" href="#">Čeština</a></li>
        <li><a class="dropdown-item" href="#">Ελληνικά</a></li>
        <li><a class="dropdown-item" href="#">Español</a></li>
        <li><a class="dropdown-item" href="#">हिंदी</a></li>
        <li><a class="dropdown-item" href="#">Bahasa Indonesia</a></li>
        <li><a class="dropdown-item" href="#">日本語</a></li>
        <li><a class="dropdown-item" href="#">Nederlands</a></li>
        <li><a class="dropdown-item" href="#">Português</a></li>
        <li><a class="dropdown-item" href="#">Русский</a></li>
        <li><a class="dropdown-item" href="#">Türkçe</a></li>
        <li><a class="dropdown-item" href="#">Tiếng Việt</a></li>
      </ul>
    </div>
    <button class="get_started_btn" type="submit" width="144.25">GET STARTED</button>
    <button class="login_btn" type="submit" width="85">LOGIN</button>
  </div>
</nav>


