<duo-topnavbar>Loading navbar... </duo-topnavbar>
<div class = "cool">
  <duo-user-info>Loading...</duo-user-info>
  <div class = "container get_started_1">
    <div class="row">
      <div class="col"> <img src="./assets/earth.svg"></div>
      <div class="col">
        <div class="row">
          <h1>
            The free, fun, and effective way to learn a language!
          </h1>
        </div>
        <div class="row">
          <button class="get_started_btn" type="submit">GET STARTED</button>
        </div>
        <div class="row">
          <button class="already_btn" type="submit" routerLink="signin">I ALREADY HAVE AN ACCOUNT</button>
        </div>
      </div>
    </div>
  
  </div>
  <duo-hscroll>Loading menu...</duo-hscroll>


</div>
<duo-footer>Loading footer...</duo-footer>
  