<body>
    <div class = "container get_started_1">
      <div class="row">
        <div class="col"> <img src="./assets/earth.svg"></div>
        <div class="col">
          <div class="row">
            <h1>
              Learn Spanish in just 5 minutes a day. For free.
            </h1>
          </div>
          <div class="row">
            <button class="get_started_btn" type="submit">START LEARNING</button>
          </div>
          <div class="row">
            <button class="already_btn" type="submit">I ALREADY HAVE AN ACCOUNT</button>
          </div>
        </div>
      </div>
    
    </div>
    <duo-hscroll>Loading menu...</duo-hscroll>
  </body>